 <div class="header">
            
                <div class="header__navbar">
                    <div class="grid">
                        <div class="header__one">

                            <div class="header__navbar-logo">
                                <a href="/" class="header__navbar-logo-link">
                                <img src="https://vlsp.org.vn/sites/default/files/inline-images/6-logo-uet.png" alt="Logo" class="header__navbar-logo-img">
                                </a>
                                <span class="header__navbar-slogan">K63M1</span>
                            </div>
                            <div class="header__navbar-right">
                                
                                <ul class="header__navbar-list ">
                                    <li class="header__navbar-item header__navbar-feature">
                                        <a href="" class="header__navbar-item-link">
                                              Các tính năng
                                              <i class="header__navbar-icon-down fa fa-angle-down"></i>
                                              <ul class="header__subnav-list">
                                                  <li><a href="" class="header__subnav-item">Khí ga</a></li>
                                                  <li><a href="http://localhost:3000/nhietdo" class="header__subnav-item">Nhiệt độ</a></li>
                                                  <li><a href="http://localhost:3000/doam" class="header__subnav-item">Độ ẩm</a></li>
                                              </ul>
                                        </a>
                                      
                                    </li>
                                    <li class="header__navbar-item">
                                        <a href="" class="header__navbar-item-link">Hỗ trợ</a>
                                    </li>
                                    <li class="header__navbar-item">
                                        <a href="" class="header__navbar-item-link">Liên hệ</a>
                                    </li>
                                    <li class="header__navbar-item">
                                        <a href="" class="header__navbar-item-link">Sign in</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>        
                
        </div>