
<div class="header__img__home"></div>
<div class="header__slider">
                    <p class="slider-content-zero">GIÁM SÁT CẢM BIẾN TỪ XA </p>
                     <p class="slider-content-first">K63M1</p>
                </div>
                <div class="header__content">
                    <p class="header__content-first">
                        Bạn có thể xem tất cả giá trị các cảm biến trong nhà của bạn từ xa.
                        K63M1 giúp bạn xem trạng thái nhà bạn  nếu bạn ngồi trên ghế với điện thoại thông minh của bạn hoặc thậm chí khi đang di chuyển.
                        Trang web này giúp ta sau dễ tiếp cận với các dự án IOT hơn

                    </p>
                </div>
<div class="content">
            <div class="grid">

                <div class="content__benefit">
                    <p class="content__benefit-cont">Giám sát cảm biến K63M1</p>
                    
                        <ul class="convenient">
                            <li class="content__convenient grid__thirt">
                                <img class="content__convenient-img" src="https://fibarovn.com/vi/giai-phap-su-dung-nha-thong-minh-fibaro/giai-phap-he-thong-am-thanh-nha-thong-minh-fibaro/use-cases-multimedia-savings.jpg " alt="">
                                <ul class="content__convenient-list">
                                    <p class="content__convenient-cont">Tiết kiệm điện năng</p>
                                    <li class="content__convenient-item">Quản lý máy điều hòa dễ dàng</li>
                                    <li class="content__convenient-item">Điều khiển từ xa, chế độ ngày đêm, và chế độ ngủ</li>
                                    <li class="content__convenient-item">Kiểm soát nhiệt độ thông minh</li>
                                </ul>
                            </li>
                            <li class="content__convenient grid__thirt">
                                <img class="content__convenient-img" src="https://fibarovn.com/vi/giai-phap-su-dung-nha-thong-minh-fibaro/giai-phap-he-thong-bao-dong-nha-thong-minh-fibaro/use-cases-security-comfort.jpg " alt="">
                                <ul class="content__convenient-list">
                                    <p class="content__convenient-cont">Bảo vệ ngôi nhà của bạn</p>
                                    <li class="content__convenient-item">Bảo vệ chống đông hệ thống sưởi khi vắng nhà</li>
                                    <li class="content__convenient-item">Giám sát rò rỉ từ hệ thống sưởi ấm</li>
                                    <li class="content__convenient-item">Dự đoán những nguy hiểm có thể xảy ra</li>
                                </ul>
                            </li>
                            <li class="content__convenient grid__thirt">
                                <img class="content__convenient-img" src="https://fibarovn.com/vi/giai-phap-su-dung-nha-thong-minh-fibaro/giai-phap-he-thong-anh-sang-nha-thong-minh-fibaro/use-cases-lighting-savings.jpg " alt="">
                                <ul class="content__convenient-list">
                                    <p class="content__convenient-cont">Tận hưởng sự thoải mái</p>
                                    <li class="content__convenient-item">Kiểm soát chất lượng và nhiệt độ của không khí dựa trên lịch trình hàng ngày của các thành viên trong gia đình.</li>
                                    <li class="content__convenient-item">Giám sát  chất lượng và nhiệt độ không khí.</li>
                                </ul>
                            </li>
                        </ul>
                        
		
        
                </div>
            </div>
        </div>